/* main.css */

* {
  font-family: sans-serif;
}

body,
main {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

section:not(section.shown) {
  display: none;
}

/** RECIPE CARDS IN EXPLORE **/

#explore-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 50px;
  gap: 50px;
  height: auto;
  max-width: 60%;
}

#explore-recipe-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 50px;
  gap: 50px;
  height: auto;
}

/** RECIPE CARDS IN MY RECIPE **/

#recipe-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 50px;
  gap: 50px;
  height: auto;
  max-width: 60%;
}

/** CREATE RECIPE SECTION **/

#create-recipe--input-wrapper {
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

/* Cards for all inputs */

.input-card {
  margin-top: 20px;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.2);
  width: 300px;
}

/* Input card for ings */

.input-card-ings {
  margin-top: 20px;
}

/* Input card for steps */

.input-card-steps {
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

/* Card for display image */

#img-card {
  padding: 20px;
}

#display-image {
  cursor: pointer;
  margin: auto;
  width: 250px;
}

/* Card for ingredients */

#ing-card {
  height: 98%;
  width: 500px;
}

/* Card for steps */

#step-card {
  height: 98%;
  width: 500px;
  background-color: transparent;
  box-shadow: none;
}

/** INPUTS **/

input {
  border-radius: 5px;
  padding: 5px;
  font-family: var(--p-font);
  border: 3px solid #ccc;
  resize: none;
  width: 100%;
}

input.tags {
  width: 100px;
  margin: 5px;
}

input.ings {
  width: 94%;
}

input.steps {
  width: 93%;
}

input.input-hours-mins {
  width: 60px;
  margin: 5px;
}

input[type="text"] {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
}

input[type="text"]:focus {
  border: 3px solid #555;
}

input[type="number"] {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
}

input[type="number"]:focus {
  border: 3px solid #555;
}

#input-desc {
  border-radius: 5px;
  padding: 5px;
  font-family: var(--p-font);
  border: 3px solid #ccc;
  resize: none;
  width: 100%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
  overflow-y: scroll;
}

#input-desc:focus {
  border: 3px solid #555;
}

#time-inputs {
  margin: auto;
}

/** BUTTONS **/

button.add-btn {
  display: block;
  margin: 0px auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.18);
  transition: 0.2s;
  outline: none;
}

button.add-btn:focus {
  outline: none;
}

button.add-btn:hover {
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.18);
}

button.save-btn {
  display: block;
  margin: 0px auto;
  width: 100px;
  height: 50px;
  cursor: pointer;
  border: none;
  /* background-color: transparent; */
  border-radius: 20px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.18);
  transition: 0.2s;
  outline: none;
}

button.save-btn:focus {
  outline: none;
}

button.save-btn:hover {
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.18);
}

button.btn-light {
  background-color: white;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.4);
}

/* REFRESH AND SHOW MORE BUTTONS ON EXPLORE PAGE */

#explore-buttons {
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin-top: 70px;
  margin-bottom: 70px;
  gap: 50px;
}

button#refresh-btn, button#show-more-btn {
  display: block;
  width: 100px;
  height: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 10%;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.18);
  transition: 0.2s;
  outline: none;
}

button#refresh-btn:hover, button#show-more-btn:hover {
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.18);
}

/* Save to my recipe btn */

button.save-to-rec-btn {
  display: block;
  width: 200px;
  height: 40px;
  cursor: pointer;
  border: none;
  background-color: rgb(71, 255, 163);
  border-radius: 40px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.18);
  transition: 0.2s;
  outline: none;
}

button.save-to-rec-btn:hover {
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.18);
}

.hidden {
  display: none;
}

.delete-modal-expand {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.delete-modal-expand-content {
  margin: 15% auto;
  padding: 20px;
}