/* main.css */

* {
  font-family: sans-serif;
}

body, main {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

section:not(section.shown) {
  display: none;
}

#recipe-cards {
  column-gap: 10px;
  display: flex;
  flex-wrap: wrap;
  height: auto;
  max-width: 660px;
  row-gap: 10px;
  width: 100%;
}

/** CREATE RECIPE SECTION **/

.section--create-recipe {
  width: 70%;
  margin: auto;
}

#create-recipe--input-wrapper {
  margin-top: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 10px;
}

/* Cards for all inputs */

.input-card {
  margin-top: 20px;
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

/* Input card for ings */

.input-card-ings {
  margin-top: 20px;
}

/* Input card for steps */

.input-card-steps {
  background-color: #f6f6f6;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
  box-shadow: 4px 5px 10px 1px rgba(0, 0, 0, 0.2);
}

/* Card for display image */

#img-card {
  padding: 70px;
}

#display-image {
  cursor: pointer;
  height: 170px;
  margin: auto;
  left: 200px;
  top: 128px;
}

/* Card for ingredients */

#ing-card {
  height: 98%;
  width: 500px;
}

/* Card for steps */

#step-card {
  height: 98%;
  width: 500px;
  background-color: transparent;
  box-shadow: none;
}

/* Input */

input {
  border-radius: 5px;
  padding: 5px;
  font-family: var(--p-font);
  border: 3px solid #ccc;
  resize: none;
  width: 90%;
}

input.tags {
  width: 100px;
  margin: 5px;
}

input.input-hours-mins {
  width: 60px;
  margin: 5px;
}

input[type="text"] {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
}

input[type="text"]:focus {
  border: 3px solid #555;
}

input[type="number"] {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  outline: none;
  border-radius: 5px;
  font-size: 15px;
  padding: 10px;
}

input[type="number"]:focus {
  border: 3px solid #555;
}

/* Button */

button.add-btn {
  display: block;
  margin: 0px auto;
  width: 30px;
  height: 30px;
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.18);
  transition: 0.2s;
  outline: none;
}

button.add-btn:focus {
  outline: none;
}

button.add-btn:hover {
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.18);
}

button.save-btn {
  display: block;
  margin: 0px auto;
  width: 100px;
  height: 50px;
  cursor: pointer;
  border: none;
  /* background-color: transparent; */
  border-radius: 20px;
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.18);
  transition: 0.2s;
  outline: none;
}

button.save-btn:focus {
  outline: none;
}

button.save-btn:hover {
  box-shadow: 0 0 5px 4px rgba(0, 0, 0, 0.18);
}

.hidden {
  display: none;
}